.bannerHome,
.bannerTreinamento,
.bannerPresencial,
.bannerFerramentas,
.bannerConhecaMais {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
	height: 375px;
}

.bannerHome { 
	background-image: url("../img/home/nacional.jpg"); 
}

.bannerTreinamento { background-image: url("../img/introPC/treinamento.png"); }

.bannerPresencial { background-image: url("../img/treinaPresencial/quadroBranco.jpg"); }

.bannerFerramentas { background-image: url("../img/ferramentas/ferramentas.png"); }

.bannerConhecaMais { background-image: url("../img/conhecaMais/alunos.jpg"); }

/* Overlay escuro */
.bannerHome::before,
.bannerTreinamento::before,
.bannerPresencial::before,
.bannerFerramentas::before,
.bannerConhecaMais::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-text,
.banner-text-pouco-texto {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2; 
    font-family: "bannerFont", sans-serif;
    font-weight: bold;
    padding: 0 15px;
}

.banner-text {
    font-size: 2.3em;
}

.banner-text-pouco-texto {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .bannerHome,
    .bannerTreinamento,
    .bannerPresencial,
    .bannerFerramentas,
    .bannerConhecaMais {
        height: 300px;
    }

    .banner-text { font-size: 1.6em; }
    .banner-text-pouco-texto { font-size: 1.8em; }
}