/*espaçamento para navbar não sobrepor o banner*/
body {
    padding-top: 115px; 
}

/*------------- NAVBAR -------------*/

.navbar {
    background-color: #073b3a;   
}

/* Logo */
.navbar-brand .logo-img {
    width: 150px;
    display: block;
}

/* Itens da lista */
.navbar-nav .nav-link {
    color: #fdfde4;
    font-family: "menuFont";
	font-weight: bold;
    transition: color 0.3s ease; 
}

/* Hover */
.navbar-nav .nav-link:hover {
    color: #00bcd4;
}

@media (max-width: 991px) {
    
    .navbar-collapse {
        padding-top: 15px; 
    }
    
    .navbar-nav .nav-link {
        margin-bottom: 10px; 
    }
}

/*------------- FIM DA NAVBAR -------------*/




/*------------- FOOTER -------------*/


footer {
    background-color: #00202a;
    padding: 40px 0; 
    color: white;
    font-family: "footerFont";
}


.footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #00bcd4;
}

/* Logos */
.footer-logo {
    width: 100px;
    height: auto;
}

/*------------- FIM DO FOOTER -------------*/