<footer class="footer">
    <div class="container">
        <div class="row gy-4 text-center text-md-start">
            
            <div class="col-md-6 col-lg-3">
                <h5 class="fw-bold mb-3">Grupo de Programação Competitiva</h5>
                <p class="mb-4">Projeto de extensão do Instituto Federal do Triângulo Mineiro</p>
                
                <div class="d-flex justify-content-center justify-content-md-start gap-3 align-items-center">
                    <img src="./img/home/promaratonaWhite.png" class="footer-logo" alt="Logo ProMaratona" />
                    <img src="./img/home/if.png" class="footer-logo" alt="Logo IFTM" />
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <h5 class="fw-bold mb-3">Treinamento</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="./pages/treinamento.html" class="footer-link">Introdução à Programação Competitiva</a></li>
                    <li class="mb-2"><a href="./pages/treinamento.html#sites-estudos" class="footer-link">Sites de Estudo</a></li>
                    <li class="mb-2"><a href="./pages/treinamento.html#principais-competicoes" class="footer-link">Principais Competições</a></li>
                    <li class="mb-2"><a href="./pages/presencial.html" class="footer-link">Treinamento Presencial</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-3">
                <h5 class="fw-bold mb-3">Ferramentas</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="./pages/ferramentas.html" class="footer-link">Ambiente BOCA</a></li>
                    <li class="mb-2"><a href="./pages/ferramentas.html#como-instalar-boca" class="footer-link">Como instalar o BOCA</a></li>
                    <li class="mb-2"><a href="./pages/ferramentas.html#criacao-contest" class="footer-link">Criação de Contest</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-3">
                <h5 class="fw-bold mb-3">Conheça Mais</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="./pages/conhecaMais.html" class="footer-link">Sobre o Projeto</a></li>
                    <li class="mb-2"><a href="./pages/conhecaMais.html#fotos" class="footer-link">Histórico | Fotos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>