/* Configurações globais */
body {
    background-color: #fdfde4; /* Cor de fundo semelhante */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo da navbar */
.navbar {
    background-color: #073b3a; /* Cor do topo */
    padding-top: 10px;  /* Aumenta a altura do topo da navbar */
    padding-bottom: 15px;  /* Aumenta a altura da parte inferior da navbar */
}

.nav-item{
    padding-top: 10px;  /* Aumenta a altura do topo da navbar */
    padding-bottom: 500x;  /* Aumenta a altura da parte inferior da navbar */
    margin-top: 15px;
    font-size: 1.5em;
    font-family: 'menuFont';
    font-weight: normal;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.navbar-brand span {
    color: #66cc66; /* Verde similar */
}

.navbar-nav .nav-link {
    color: #fdfde4;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.navbar-nav .nav-link:hover {
    color: #66ccff; /* Azul claro no hover */
}

/* Estilo do ícone social */
.social-icon {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.social-icon img {
    width: 18px;
    height: 18px;
}

.logo-img {
    width: 300px; 
    height: auto; 
}

.menu-img {
    width: 45px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção original */
}

@font-face{
    font-family: 'menuFont';
    src: url('fonts/Rajdhani.ttf'),
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'bannerFont';
    src: url('fonts/Danbury.otf'),
    format('opentype');
    font-weight: normal;
    font-style: normal;
}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('/img/nacional.jpg') no-repeat top center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2;
    font-size: 2.0em;
    font-family: 'bannerFont';
    font-weight: bold;
}

/* Camada escura */
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurecimento com opacidade */
    z-index: 1; /* Camada escura abaixo do texto */
}

footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid var(--color-border-dark);
    position: relative;
    width: 100%;
}
.navbar-toggler{
    border: none;
}